<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FakeServers.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <FakeServers.Properties.Settings>
            <setting name="FakeServers_SoapServerManagerWebRef_ServerManager"
                serializeAs="String">
                <value>http://localhost:4567/ServerManager.asmx</value>
            </setting>
        </FakeServers.Properties.Settings>
    </applicationSettings>
</configuration>